[tool.poetry]
name = "multicall"
version = "0.7.1"
description = "aggregate results from multiple ethereum contract calls"
authors = ["banteg"]

[tool.poetry.dependencies]
python = ">=3.8,<3.11"
# These web3.py versions have a busted async provider and cannot be used in any multithreaded applications
web3 = "^5.27,!=5.29.*,!=5.30.*,!=5.31.0,!=5.31.1,!=5.31.2"
eth_retry = "^0.1.8"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"
flake8 = "^5.0"
black = "^22.8"
joblib = "^1.2"

[tool.poetry.group.dev.dependencies]
eth-brownie = "^1.19.3"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
