name: PyTest

on:
  pull_request:
    branch: master
    paths:
      - '**.py'
      - '**/pytest.yaml'
      - 'pyproject.toml'
      - 'poetry.lock'
      
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        pyversion: [ "3.10", "3.11", "3.12", "3.13" ]
        web3-major: [ "5", "6", "7" ]
        include:
        - os: ubuntu-latest
          path: ~/.cache/pip
        - os: macos-latest
          path: ~/Library/Caches/pip
        - os: windows-latest
          path: ~\AppData\Local\pip\Cache

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4.1.4
        with:
          persist-credentials: false

      - name: Setup Python (faster than using Python container)
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.pyversion }}

      - name: Load cached Poetry installation
        id: cached-poetry
        uses: actions/cache@v4
        with:
          path: ~/.local  # the path depends on the OS
          key: poetry-${{ runner.os }}-${{ matrix.pyversion }}-0  # increment to reset cache
          
      - name: Install Poetry
        if: steps.cached-poetry.outputs.cache-hit != 'true'
        uses: snok/install-poetry@v1
        
      - name: Install Dependencies
        run: poetry install

      - name: Install web3.py ${{ matrix.web3-major }}.x
        shell: bash
        run: |
          if [ "${{ matrix.web3-major }}" = "5" ]; then
            poetry run pip install "web3>=5.27,<6"
          elif [ "${{ matrix.web3-major }}" = "6" ]; then
            poetry run pip install "web3>=6,<7"
          fi
        
      - name: Install Setuptools for `pkg_resources` so web3.py works
        run: poetry run pip install -U setuptools
      
      - name: Setup brownie networks
        run: |
          poetry run brownie networks modify mainnet host=${{ secrets.WEB3_PROVIDER }}
        continue-on-error: true

      - name: Install Multicall
        run: poetry run python -m pip install .

      - name: Run test suite
        env:
          PYTEST_NETWORK: mainnet
          ETHERSCAN_TOKEN: ${{ secrets.ETHERSCAN_TOKEN  }}
          GAS_LIMIT: 5000000
        run: poetry run pytest
